//! Import bootstrap Function + Variable :
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
$color-header : #363B47;
$color-footer : #3676BB;
$bg-about : #E8E6E0;
$color-text : #26A2CC;
$bg-cards : #38485F;
$color-icons : #5E91C9;
$color-copyright : #363B47;